<section class="mountain">
    <div class="hero-img">
      <img class="mapache" src="../../../assets/img/mapacheborracho.jpg" alt="forest image" />
      <div class="reveal-img"></div>
    </div>
    <div class="hero-desc">
      <div class="title">
        <h2 class="solemne">
          Solemne <span class="mountain-span">2</span>
        </h2>
      </div>
      <div class="box">
            <div class="aa">
                Tomás Barrueto
            </div>
            <div class="aa">
                Matias Peters  
            </div>
            <div class="aa">
                Gabriel Poblete
            </div>
        </div>
    </div>
</section>