.mountain{
    margin-top: 23px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #E9ECEF;
    border-radius: 5px;

    .hero-img{
        
        width: 440px;
        height: 296px;
        display: flex;
        justify-content: center;
        align-items: center;

        .mapache{
            width:90%;
            height:100%;
        }
    }

    .hero-desc{
        height: 296px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding: 0 20px;

        .title{
        }

            .solemne{
                text-align: center;
                font-weight: bold;
                font-size: 3em;
            }
        
            .mountain-span {
                color: #17A2B8;
              }
        
        .box{
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            height:200px;
            width: 100%;

        
            .aa{
                margin-top:10px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.3em;
                font-weight: bold;
              
            }
        }

    }
}