.jumbotron {
    font-family: Arial, Helvetica, sans-serif;

    .jumbotron__add{
        text-align: center;
        color: #17A2B8;
        font-weight: bold;
    }

    &__add {
        font-size: 35px;
    }

    &__row1 {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__container {
            width: 50%;
        }
    }
}

.cards {
    &__for {

        &__container {
            width: 18rem;
        }

    }
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .btn.btn-info{
        width: 50%;
        font-weight: bold;
    }
}

.cards.card-columns{
    

    .cards__for{
      
        .cards__for__container.card.text-white.bg-dark.mb-3{
            width:100%;
        }
        .card-title{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            color: #17A2B8;
        }
        .card-text{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
           text-align: center;
        } 
    }  
}


.btn.btn-primary{
    width:100%;
    margin-bottom: 10px;

}

.btn.btn-danger{
    width:100%;
}