<br>

<div class="jumbotron">
    <h5 class="jumbotron__add">Añadir Foto</h5>
    <br>
    <div class="jumbotron__row1 form-row" >
        <div class="jumbotron__row1__container col-auto">
            <label> Album </label>
            <input type="email" class="form-control mb-2" #album placeholder="'Familiar'">
        </div>
        <div class="jumbotron__row1__container col-auto">
            <label> Titulo </label>
            <input type="email" class="form-control mb-2" #title placeholder="'Dia de Accion de Gracias'">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label> Url </label>
            <input type="email" class="form-control" #url placeholder="https://ejemplo.com/600/xxxxxx">
        </div>
        <div class="form-group">
            <label> URL Miniatura </label>
            <input type="email" class="form-control" #thumbnailUrl placeholder="https://ejemplo.com/150/xxxxxx">
        </div>
        <div class="form-group">
            <br>
            <button class="btn btn-info" (click)="createPhoto(album.value, title.value, url.value, thumbnailUrl.value)">Crear Foto</button>
        </div>
    </div>
</div>


<div class="cards card-columns">
    
    <div class="cards__for" *ngFor="let photo of photos">

        <div class="cards__for__container card text-white bg-dark mb-3">
            <img class="card-img-top" src="{{ photo.thumbnailUrl }}" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ photo.title }}</h5>
                <p class="card-text">Url: {{ photo.url }}</p>
                <a href="{{ photo.url }}" class="btn btn-primary"> Ver Foto Completa </a>
                <button type="button" (click)="deletePhoto(photo.id)" class="btn btn-danger"> Eliminar Foto </button>
            </div>
        </div>
  
    </div>
</div>