<br>
<div class="jumbotron">
    <h5>Buscando Albums por UserID</h5>
    <br>
    <div class="form-row">
        <div class="col-auto">
            <input [(ngModel)]="userId" type="email" class="form-control mb-2" id="exampleFormControlInput2" placeholder="Inserte User ID">
        </div>
        <div class="col-auto">
            <button class="btn btn-info" (click)="getAlbum()"> Buscar </button>
        </div>
    </div>
</div>

<div class="card-columns">
    <div *ngFor="let album of albums">

        <div class="card text-white bg-dark mb-3">
            <div class="card-header">
                <h5>{{ album.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Album ID: {{ album.id }}</p>
                <a class="card-text">Usuario ID: {{ album.userId }}</a>
                <br>
            </div>
        </div>

    </div>
</div>
<br>