<br>

<div class="jumbotron">
    <h5>Buscando Fotos por AlbumID</h5>
    <br>
    <div class="form-row">
        <div class="col-auto">
            <input [(ngModel)]="albumId" type="email" class="form-control mb-2" id="exampleFormControlInput2" placeholder="Inserte Album ID">
        </div>
        <div class="col-auto">
            <button class="btn btn-info" (click)="getPhoto()"> Buscar </button>
        </div>
    </div>
</div>

<br>

<div class="card-columns">
    <div *ngFor="let photo of photos">

        <div class="card text-white bg-dark mb-3" style="width: 22rem;">
            <img class="card-img-top" src="{{ photo.thumbnailUrl }}" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{ photo.title }} </h5>
                <p class="card-text"> Foto ID: {{ photo.id }} </p>
                <p class="card-text"> URL: {{ photo.url }}</p>
                <a href="{{ photo.url }}" class="btn btn-primary"> Ver Foto Completa </a>
                <button type="button" (click)="deletePhoto(photo.id)" class="btn btn-danger"> Eliminar Foto </button>
            </div>
        </div>

    </div>
</div>