.card-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;


    .card-title{
        color: #17A2B8;
        text-align: center;
    }

    .card-text{
        text-align: center;
    }

    .btn.btn-primary{
        margin-bottom: 10px;
    }

    .btn.btn-danger{

    }
}