
.abox{
    margin-top:24px;
    width:100%;
    height:500px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding:10px;
    border-radius:10px;
    
        .name{
            display:flex;
            flex-direction: column;
            margin-top:10px;
        }

        .vacio{
            width: 4%;
        }

        .user{
            display:flex;
            flex-direction: column;
            margin-top:10px;

        }
}