<section class="abox">
    <section class="namebox">
        <div class="name" *ngFor = "let User of users ">
            {{User.id}}
        </div>
    </section>
    <div class="vacio">
    </div>
    <section class="userbox">
        <div class="user" *ngFor = "let User of users ">
            {{User.name}}
        </div>
    </section>
</section>