img {
    width: 80px;
    height: 80px;
}

.nav-item{
    background: #343A40;
    transition: background 1.5s;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-item:hover{
    background:#535a61;
}