<section class="abox">
    <section class="namebox">
        <div class="name" *ngFor = "let Album of albums ">
            {{Album.id}}
        </div>
    </section>
    <div class="vacio">
    </div>
    <section class="userbox">
        <div class="user" *ngFor = "let Album of albums ">
            {{Album.title}}
        </div>
    </section>
</section>